.motivational-seminar-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.motivated-person-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin-top: 30px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.person-cart-container{
    background-image: url('https://wallpapercave.com/wp/wp2610904.jpg');
    margin-right: 10px;
    border:5px solid goldenrod;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}